
body {
  background-image: url("../images/contacts.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

p{
  font-size: 40px;
  font-family: "Sofia", sans-serif;
  text-align: center;
}





  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: royalblue;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-github {
    background: black;
    color: white;
  }
  
  .fa-instagram {
    background: white;
    color: white;
  }
  
  .fa-facebook {
    background: royalblue;
    color: white;
  }
  
  .fa-instagram {
    background: mediumpurple;
    color: white;
  }
  
  .fa-google {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .maxsocmeds{
    margin-left: 50px;
  }
  
 .ashsocmeds {
    margin-left: 50px;
    margin-top: 150px;
  }
 .fa {
    padding: 40px 70px;
    font-size: 30px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    margin: 20px 10px;
    margin-bottom: 3px;
    border-radius: 50px;
    border: 2px solid ghostwhite;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .max-img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid mediumpurple;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .ash-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid mediumpurple;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  .back-button{
    color: rebeccapurple;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 12px 30px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background: #ec93fe;
    border: 2px solid purple;
    margin-top: 200px;
    margin-left: 750px;
}

  .btn:hover{
    background: transparent;
    border-color: #fd4766;
    color: #fd4766;
}
