
body {
  background-image: url("../images/contacts.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.left-part{
    width: 800px;
    height: 1100px;
    background-color: #944b93;
    margin: 170px;
}

p{
  font-size: 40px;
  font-family: "Sofia", sans-serif;
  text-align: center;
}


.fa{
  padding: 10px 100px;
  font-size: 30px;
  width: 130px;
  text-align: center;
  text-decoration: none;
  margin: 40px 60px;
  margin-bottom: 25px;
}

.fa:hover{
    opacity: 0.7;
}

 h3{
  margin-left: 500px;
  margin-top: 270px;
  position: absolute;
  font-size: 30px;
  font-family: 'Sofia', sans-serif;
  font-style: italic;
  letter-spacing: 10px;
}

h2{
  margin-left: 100px;
  margin-top: 750px;
  position: absolute;
  font-size: 30px;
  font-family: 'Sofia', sans-serif;
  font-style: italic;
  letter-spacing: 10px;
}

.left-part .maxsocmeds{
  margin-bottom: 200px;
  width: 30px;
  height: 20px;
  padding-bottom: 350px;
  margin-right: 130px;
}

.maxsocmeds .fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 50px;
}

.maxsocmeds .fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 50px;
}
  
.maxsocmeds .fa-github {
  background: #dd4b39;
  color: white;
  border-radius: 50px;
}
  
.maxsocmeds .fa-instagram {
  background: #125688;
  color: white;
  border-radius: 50px;
}

 
.left-part .ashsocmeds{
  width: 50px;
  height: 50px;
  margin-bottom: 300px;
  margin-left: 330px;
}

.ashsocmeds .fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 50px;
}

.ashsocmeds .fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 50px;
}
  
.ashsocmeds .fa-google {
  background: #dd4b39;
  color: white;
  border-radius: 50px;
}
  
.ashsocmeds .fa-instagram {
  background: #125688;
  color: white;
  border-radius: 50px;
}
  
.back-button {
  width: 350px;
  font-color: white;
  font-size: 30px;
  padding: 15px;
  background: mediumpurple;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 250px;
  margin-left: 570px;
  text-align: center;
}
.back-button a:hover {
  transition: .3s;
  color: rebeccapurple;
  font-weight: bold;
  font-family: monospace;
}

a {
  color: white;
  font-family: monospace;
}
  
  
